@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: 'Open Sans', sans-serif;

}

.container{
    display: flex;
}

.wrapper{
  flex: 1;
  width: 100%;
  background-color: #FBFCFD;

}

.topbar {
  width: 100%;
  height: 70px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 999;
}


.shadow-card {
  box-shadow: 0 1px 6px 0 rgba(49,53,59,0.12);
}
.czjISO{
    border: dashed 2px #5996ab !important;
}

.czjISO,svg{
  fill : "#5996ab" !important;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}


/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-2 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-2:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 8px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

input:checked + .slider-2 {
  background-color: #4D17E2;
}

input:focus + .slider-2 {
  box-shadow: 0 0 1px #4D17E2;
}

input:checked + .slider-2:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.slider-2.round {
  border-radius: 34px;
}

.slider-2.round:before {
  border-radius: 50%;
}
.container-box{
    max-width: 1900px ;
    margin: 0 auto;
    
  }
  .edit-profile input[type="tel"],
  .edit-profile input[type="email"],
  .edit-profile input[type="text"] {
    border: 1px solid #0C145A;
    padding: 0.75rem 1.625rem;
    color: #0C145A;
    max-width: 467px;
  }
  
  .edit-profile input[type="tel"]:focus-within,
  .edit-profile input[type="email"]:focus-within,
  .edit-profile input[type="text"]:focus-within {
    color: #0C145A;
  }
  
  .edit-profile input[type="tel"]::placeholder,
  .edit-profile input[type="email"]::placeholder,
  .edit-profile input[type="text"]::placeholder {
    color: #CCD0DD;
  }